div
{
height: 300px;
width:600px;
	background-image: url("http://www.cbc.ca/q/tom_waits.jpg");
	background-size:600px 300px;
	background-attachment: fixed;
	padding: 10px;
}
h1
{
color:red;

}