body
{
margin:0;
}

header, footer
{
background-color:goldenrod;
color:white;
font-family: 'Roboto', sans-serif;
padding:5px
}

nav
{
padding-top: 25px;
font-size: 10px;
}
header > h1
{
font-size:30px;
font-style:bold;
}
header > h2
{
font-size: 18px;
font-style:italic;
position:relative;
top:-15px;
}

header > nav > ul> li> a {
	color: #fff;
	text-decoration: none;
	font-size:15px;
	position:relative;
	top:-15px;
}
a:hover {
	color: #000;
	text-decoration: underline;
}


article
{
font-family: 'Crimson Text', serif;
}

article > h1
{

font-size:30px;
font-style:bold;	
}

footer > h1
{
font-size:30px;
font-style:bold;
position:relative;
top:-25px;
}
footer > h2
{
font-size: 18px;
font-style:italic;
position:relative;
top:-40px;
}
footer > nav > ul> li> a {
	color: #fff;
	text-decoration: none;
	font-size:15px;
	position:relative;
	top:-15px;
	float: left;
	list-style-type: none;
	position:relative;
top:-40px;
left:-50px;
padding:10px;
}
footer > nav > ul > li {
	float: left;
	list-style-type: none;
	position:relative;
top:-20px;
left:0px;
padding:10px;
}
aside
{
font-family:'Roboto';
color:gray;
font-size:10px;
padding-top:10px;

}
a
{
	color: darkgray;
	text-decoration: none;
	font-size:15px;
}