
article
{
font-family: 'Crimson Text', serif;
}

article > h1
{

font-size:30px;
font-style:bold;	
}

aside
{
font-family:'Roboto';
color:gray;
font-size:10px;
padding-top:10px;
}

a
{
	color: darkgray;
	text-decoration: none;
	font-size:15px;
}

html {
  position: relative;
  min-height:100%;
}

body {
  margin-bottom: 70px;
  margin-top: 70px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #f5f5f5;
  padding:10px;
}
